*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 16px;
    background-color: rgb(243, 244, 246);
}
.all{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
h1{
    color: rgb(79, 70, 229);
}
h2{
    margin-bottom: 15px;
    color: rgb(99, 102, 241);
}
h3{
    padding-top: 10px;
}
p{
    padding-top: 10px;
    color: rgb(31, 41, 55);
}
a{
    color: rgb(99, 102, 241);
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.profilovka img{
    border: 5px solid rgb(79, 70, 229);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
}

.dovednosti p{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 242,255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
article img{
    border-radius: 5px;
    display: flex;
    justify-self: center;
    width: 100%;
}
article{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 16px;
    margin-bottom: 15px;
}


footer{
    padding-top: 25px;
}
footer p{
    padding-top: 10px;
}

@media only screen and (min-width: 1000px) {
    header{
        display: flex;
        flex-direction: row;
    }
    body{
        margin: 30px;
    }
    .all{
        padding: 50px;
    }
    section{
        display: flex;
        flex-direction: row;
    }
    .dovednosti{
        display: flex;
        justify-content: space-between;
    }
    .dovednosti p{
        padding-left: 70px;
        padding-right: 70px;
    }
    .uvodni-text{
        padding-left: 30px;
    }
}